{% extends 'base.html' %}

    {% block body %}
<form action="{% url 'add_movie' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mb-3">
        <input type="text"name="title" class="form-control" placeholder="Enter movie name"><br>
    </div>
    
    <input class="form-control" type="text" name="name" placeholder="Enter genre of the movie"><br>
    <textarea class="form-control" name="summary" id=""></textarea>
    <input class="form-control"  type="text"name="rating" placeholder="Enter movie rating"><br>
    <input class="form-control" type="text"name="release_year" placeholder="Enter movie year"><br>
    <input class="form-control" type="file"name="image" ><br>

    <button class="btn btn-primary" type="submit" href="">Submit</button>
</form>
    {% endblock %}