{% extends 'base.html' %}
{% block body %}
    
        <div>
            <h1 style="color: #1c721c;">{{movie_count}} Movie found!!</h1>
        </div>
            {% for result in movies %}
                    <div class="col-md-4 mb-5">
                        <div class="card">
                            <img src="{{ result.title_image_url }}" alt="{{ result.title }}" height="250px" class="card-img-top" >
                            <!-- <img src="{{result.title_image}}" height="250px" class="card-img-top"  alt="movie-image" /> -->
                            <div class="card-body">
                                    <h2 class="card-title">{{ result.title }}</h2>
                                    <p class="card-text textstyle">{{result.release_year}}</p>
                                    {% if result.rating %}
                                       <p class="card-text textstyle">{{result.rating}} <i style="color:yellow;" class="fa-solid fa-star"></i></p>
                                    {% else %}
                                       <p class="card-text textstyle">0 <i style="color:yellow;" class="fa-solid fa-star"></i></p>

                                    {% endif %}
                                       <a href="{% url 'details' result.id %}" class="btn btn-primary">View  <i class="fa-solid fa-eye"></i></a>
                            </div>
                        </div> 
                    </div>
            {% endfor %}
{% endblock %}

